:root {
    --sidebar-transition: 300ms;
    --sidebar-width: 230px;
}

[x-cloak] {
    display: none !important;
}

/* Disable default blue highlight overlay on mobile */
.slider,
.w3-button {
    -webkit-tap-highlight-color: transparent;
}

/* Disable hover on touch screens */
@media (hover: none) {

    .w3-button:hover:not(:active) {
        background-color: inherit !important;
        color: inherit !important;
    }
}

/* Always reserve scrollbar space 
html {
    overflow-y: scroll;
}
*/
/* Chrome / Edge / Safari 
html::-webkit-scrollbar {
    width: 0px;
}
*/
/* Firefox 
html {
    scrollbar-width: none;
}
*/

/* SET FONT-FAMILY */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
}

body {
    background-color: var(--color-base-200);
    color: var(--color-base-content);
}