:root {
    --sidebar-transition: 300ms;
    --sidebar-width: 230px;
}

[x-cloak] {
    display: none !important;
}

/* Always reserve scrollbar space 
html {
    overflow-y: scroll;
}
*/
/* Chrome / Edge / Safari 
html::-webkit-scrollbar {
    width: 0px;
}
*/
/* Firefox 
html {
    scrollbar-width: none;
}
*/

/* SET FONT-FAMILY */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
}

html {
    scrollbar-gutter: auto;
    overflow-y: auto;
}

body {
    background-color: var(--color-base-200);
    color: var(--color-base-content);
}

.no-select {
    pointer-events: none;
    /* Safari and older Chrome */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
}