/* MOBILE LAYOUT (default) */
#wrapper {
    min-height: 100%;
    margin-left: 0;
    transition: margin-left var(--sidebar-transition);
    background-color: var(--color-base-200);
}

#wrapper main {
    z-index: 996;
}

#wrapper #header {
    position: sticky;
    top: 0;
    z-index: 998;
}

#wrapper #navbar {
    position: relative;
    z-index: 998;

    background-color: var(--color-base-100);
    border-bottom: var(--border-width) solid var(--color-base-300);

    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

#wrapper #navbar .left-side {
    display: flex;
    align-items: center;
    gap: 14px;
}

#wrapper #overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: opacity var(--sidebar-transition) ease;
    opacity: 0;
    /* prevent clicks when hidden */
    pointer-events: none;

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#wrapper #overlay.show {
    opacity: 1;
    /* can be clicked */
    pointer-events: auto;
}

#settings-nav-link {
    display: none !important;
}

/* ----------- LARGE SCREEN LAYOUT OVERRIDE ----------- */

.is-desktop #sidebar {
    transform: translateX(0%) !important;
}

/* opening = instant */
.is-desktop #sidebar #close-btn {
    opacity: 0% !important;
    visibility: hidden !important;
    pointer-events: none !important;
    /* hiding is smooth */
    transition:
        opacity var(--sidebar-transition) ease,
        visibility var(--sidebar-transition) !important;
}

.is-desktop #settings-nav-link {
    display: inline-block !important;
}

.is-desktop #wrapper {
    margin-left: var(--sidebar-width) !important;
}

.is-desktop #wrapper #navbar #hamburger-btn {
    display: none !important;
}

.is-desktop #wrapper #navbar #setting-btn {
    display: none !important;
}

.is-desktop #wrapper #overlay {
    display: none !important;
}

/*
.settings-page {
    position: relative;
    z-index: 995;
}

.is-desktop .settings-page {
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;

    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.is-desktop .settings-page-content {
    border: var(--border-width) solid var(--color-base-300);
    background: white;
    min-width: 700px;
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
}
*/