#sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    /*fallback for older browsers*/
    height: 100dvh;
    width: var(--sidebar-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform var(--sidebar-transition);

    background-color: var(--color-base-100);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.06);
    border-right: var(--border-width) solid var(--color-base-300);
    z-index: 1000;
}

#sidebar.open {
    transform: translateX(0%);
}

#sidebar #close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    /* showing is delayed until sidebar is closed and then it instantaneously appears */
    transition:
        opacity 0s var(--sidebar-transition),
        visibility 0s var(--sidebar-transition);
    visibility: visible;
    opacity: 1;
}

#sidebar #close-btn i {
    opacity: 30%;
}

#sidebar #nav-menu {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#sidebar #nav-menu .nav-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

#sidebar #nav-menu .nav-link.active {
    background-color: var(--color-primary) !important;
    color: var(--color-primary-content) !important;
    /*font-weight: 600 !important;*/
    border: var(--border-width) solid var(--color-primary) !important;
}

#sidebar #dark-mode-div {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

/*
.nav-link {
    transition: none !important;
}
*/