/* --- Banner base --- */
.banner {
    --banner-animation-duration: 500ms;

    z-index: 997;
    position: absolute;
    top: 100%;
    left: 0;

    max-height: 200px;
    width: 100%;

    opacity: 0;
    transform: translateY(-10px);
    transition:
        transform var(--banner-animation-duration) ease,
        /*max-height var(--banner-animation-duration) ease,*/
        opacity var(--banner-animation-duration) ease,
        transform var(--banner-animation-duration) ease;
    pointer-events: none;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

/* Active state */
.banner.is-open {
    opacity: 1.0;
    transform: translateY(0);
    pointer-events: auto;
}

/* inner layout */
.banner-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    gap: 10px;
}

.banner-inner.info {
    background-color: color-mix(in srgb, var(--color-info) 50%, transparent);
    color: var(--color-info-content);
}

.test-infoo {
    background-color: color-mix(in srgb, var(--color-error) 50%, transparent) !important;
    color: var(--color-error-content) !important;
    border: none !important;
    box-shadow: 0px 2px 5px rgba(0.0, 0.0, 0.0, 0.8);
    padding: 6px 10px !important;
}


.banner-inner.success {
    background-color: color-mix(in srgb, var(--color-success) 50%, transparent);
    color: var(--color-success-content);
}

.banner-inner.warning {
    background-color: color-mix(in srgb, var(--color-warning) 50%, transparent);
    color: var(--color-warning-content);
}

.banner-inner.error {
    background-color: color-mix(in srgb, var(--color-error) 55%, transparent);
    color: var(--color-error-content);
}

.banner-content {
    flex: 1;
    /*font-weight: 500;*/
}

.banner-actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.banner-btn {
    text-decoration: none;
    border-radius: var(--radius-field) !important;
    background-color: transparent;
    color: inherit;
    border: none !important;
    box-shadow: 0px 2px 5px rgba(0.0, 0.0, 0.0, 0.8);
    padding: 6px 10px !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.banner-btn:active:focus {
    background-color: rgba(0, 0, 0, 0.07);
    transform: scale(0.97);
    transition: transform 50ms ease;
}


/* Allow hover on devices that can use it */
@media (hover: hover) {
    .banner-btn:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }
}