/* --- Banner base --- */
.banner {
    --banner-animation-duration: 500ms;

    z-index: 997;
    position: absolute;
    top: 100%;
    left: 0;

    max-height: 200px;
    width: 100%;

    opacity: 0;
    transform: translateY(-10px);
    transition:
        transform var(--banner-animation-duration) ease,
        /*max-height var(--banner-animation-duration) ease,*/
        opacity var(--banner-animation-duration) ease,
        transform var(--banner-animation-duration) ease;
    pointer-events: none;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

/* Active state */
.banner.is-open {
    opacity: 1.0;
    transform: translateY(0);
    pointer-events: auto;
}

/* inner layout */
.banner-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    gap: 10px;
}

.banner-content {
    flex: 1;
    /*font-weight: 500;*/
}

.banner-actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.banner-btn {
    text-decoration: none;
    border-radius: var(--radius-field) !important;
    background-color: transparent;
    color: inherit;
    border: none !important;
    box-shadow: 0px 2px 5px rgba(0.0, 0.0, 0.0, 0.8);
    padding: 6px 10px !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.banner-btn:focus-visible {
    outline-color: var(--color-base-content);
    outline-style: solid;
    outline-width: var(--border-width);
    outline-offset: 0px;
}

.banner-btn:active:focus {
    background-color: rgba(0, 0, 0, 0.07);
    transform: scale(0.97);
    transition: transform 50ms ease;
}

.banner-close-btn {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    border: none !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: inherit;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.banner-close-btn:focus-visible {
    outline-color: var(--color-base-content);
    outline-style: solid;
    outline-width: var(--border-width);
    outline-offset: 0px;
}

.banner-close-btn:active:focus {
    background-color: rgba(0, 0, 0, 0.07);
    transform: scale(0.97);
    transition: transform 50ms ease;
}

/* Allow hover on devices that can use it */
@media (hover: hover) {

    .banner-btn:hover,
    .banner-close-btn:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }
}