.w3-button {
    border-radius: var(--radius-field) !important;
    background-color: var(--color-base-200) !important;
    color: var(--color-base-content) !important;
    border: var(--border-width) solid var(--color-base-300) !important;
    -webkit-tap-highlight-color: transparent;

    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.w3-button-start {
    justify-content: flex-start;
}

.w3-button:focus-visible {
    outline-color: var(--color-base-content);
    outline-style: solid;
    outline-width: var(--border-width);
    outline-offset: 0px;
}

.w3-button:hover {
    background-color: var(--color-base-200) !important;
    color: var(--color-base-content) !important;
}

.w3-button:active:focus {
    background-color: var(--color-base-200) !important;
    color: var(--color-base-content) !important;
    filter: brightness(0.93) !important;
    transform: scale(0.97);
    transition: transform 50ms ease;
}

.w3-button .badge {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 3px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.way-btn {
    height: 33px;
    width: 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.way-btn-small {
    height: 1.5rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    /* showing is delayed until sidebar is closed and then it instantaneously appears */
    opacity: 1;
}

.close-btn x-icon {
    opacity: 30%;
}

/* Allow hover on devices that can use it */
@media (hover: hover) {
    .w3-button:hover {
        filter: brightness(0.91) !important;
    }
}