.input-wrapper {
    position: relative;
}

.input-field {
    width: 64px;
    height: 33px;
    box-sizing: border-box;
    text-align: center;

    color: var(--color-base-content);
    background-color: var(--color-base-200);
    border: var(--border-width) solid var(--color-base-300);
    border-radius: var(--radius-field);
}

.input-field-unitpadded {
    text-align: right;
    /* Space for the unit */
    padding-right: 2.4em;
}

.input-unit {
    position: absolute;
    left: 2em;
    top: 50%;
    transform: translateY(-50%);
    /* Reliable vertical centering */
    pointer-events: none;
    /* Ensures clicks pass through to input */
    color: gray;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}