#sidebar-overlay {
    position: fixed;
    z-index: 1999;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity var(--sidebar-transition) ease;
    opacity: 0;
    /* prevent clicks when hidden */
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}

#sidebar-overlay.show {
    opacity: 1;
    /* can be clicked */
    pointer-events: auto;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;

    height: 100vh;
    /*fallback for older browsers*/
    height: 100dvh;
    width: var(--sidebar-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform var(--sidebar-transition);

    background-color: var(--color-base-100);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.06);
    border-right: var(--border-width) solid var(--color-base-300);
}

#sidebar.open {
    transform: translateX(0%);
}

#sidebar-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: visible;

    transition:
        opacity 0s var(--sidebar-transition),
        visibility 0s var(--sidebar-transition);
}

#sidebar #nav-menu {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#sidebar #nav-menu .active-nav-link {
    background-color: var(--color-primary) !important;
    color: var(--color-primary-content) !important;
    border: var(--border-width) solid var(--color-primary) !important;
}

#sidebar #dark-mode-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}